.hero_content > *{
    margin-bottom: .5rem;
}

.hero_content p:first-child {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;
}
.hero_content h2{
    font-size: 2rem;
    font-weight: 700;
}
.hero_content p:last-of-type{
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 6rem;

}
.hero_content button{
    padding:.7rem 2rem;
    background:#fff;
    color:var(--clr-dark-green);
    font-size: 1rem;
    font-weight: 600;
    border:unset;
    border-radius: 10px;
    cursor: pointer;
    margin-top:1rem;

}
.hero_content .star{
    color:red;
}