
.anime_hero_img{
 width:100%;
 height: 300px;
 object-fit: cover;
 object-position: center;
}

.anime_main_container{
padding-top:1rem;
padding-left:2rem;
padding-right:2rem;   
}

.anime_main_container h1{
    font-size:2rem;
    font-weight: 700;
}
.anime_status{
    font-size: 1rem;
    color:#2ABDBB;
    margin-top: .5rem;
}

.anime_flex_row{
    display:flex;
    align-items: center;
    margin-top:.5rem;
}
.anime_divider{
    width:1px;
    height:20px;
    background:rgba(255, 255, 255,0.6); 
}

.anime_episodes{
 margin-left:.5rem ;   
}

.add_anime_list_btn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:.5rem;
    background:none;
    border:1px solid var(--clr-dark-green);
    color:var(--clr-dark-green);
    font-size: 1rem;
    margin:1rem 0;
    text-transform: uppercase;
    font-weight: 700;
    padding:1rem;
    cursor: pointer;  
}

.anime_sypnopsis{
    line-height: 1.7;
}
.anime_genres_container{
 display:flex;
 align-items: center;
 gap:1rem;
 margin:1rem 0;
}

.anime_genres_container li{
    background:#203844;
    padding:.5rem;
}
