:root {
  
  /* color palettes */
  --clr-dark-black:#070606;
  --clr-dark-green:#2A6F4A;
  --clr-light-gray:#D0CAC8;
  --clr-dark-yellow:#d5a807fd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 background:var(--clr-dark-black);
 height: 100vh;
 color:white;
}

ul{
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.grid_wrapper{
  display:grid;
  grid-template-columns: 220px 1fr;
  height: 100%;
}





