
.sidebar_container{
   padding-left:2rem;
   padding-right: 2rem;
   padding-top:3rem;
   border-right:2px solid rgba(67, 65, 58,.3);
}

.sidebar_heading{
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--clr-dark-green);
}
.sidebar_menu{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:2.5rem;
}
.sidebar_menu_item{
    display:flex;
    align-items: center;
    gap:1rem;
    color:var(--clr-light-gray);   
    position: relative;
   
}
.active_link{
   color:var(--clr-dark-green);
}
.active_link::after{
    position: absolute;
    content:'';
    width:3px;
    height:20px;
    background:var(--clr-dark-green);
    right:-30px;
}
