

.anime_list_card_container{
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(220px, 250px) );
  gap:2rem;
  margin:1.5rem 0;
  padding-right: .5rem;
}

.anime_card{
  padding:1rem;
  border-radius: 10px;
  cursor: pointer;
  width:fit-content;
  min-height: 260px;
  position: relative;
}

.anime_card_image{
  object-fit: cover;
  border-radius: 5px;
}

.anime_card_title{
    font-size: 1rem;
    font-weight: 600;
    margin-top: .5rem;
}
.anime_card_status{
    font-size: 0.875rem;
    color:#2ABDBB;
    margin-top: .5rem;
}
.anime_card_status_description{
    color:var(--clr-light-gray);
    text-transform: lowercase;
}

.anime_card_back{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    padding:1rem;
    font-size: 1rem;
    opacity: 0;
    transition: all 300ms ease-in-out;
}


.anime_card:hover .anime_card_back{
  opacity:1;
   
}
.anime_card_ranking{
  margin:.3rem 0;
}

.anime_card_synopsis{
  margin-top: .3rem;
}

.anime_card_icon_actions{

  display:flex;
  align-items: center;
  gap:1rem;
  margin:1rem 0;
  color:var(--clr-dark-green);
  
}