
.home_page{
    padding-left:2rem;
    padding-right: 2rem;
    padding-top:3rem;
}

.home_page_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.feed_section{
    margin-top:2rem;
}
.feed_section_header{
    font-size: 1.8rem;
}